.vscode/**
.vscode-test/**
melos-workspaces/**
out/**
!out/extension.js
**/node_modules/**
src/**
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
